body {
  -webkit-font-smoothing: antialiased;
}

.login-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  display:block;
}

h1, h3 { 
  font-weight: 300;
  color: #636363; 
}

.login-card {
  margin: 10px 10px 10px 0px;
  text-align: center;
  display:inline;
}



.login-form label {
  display: block;
}
